server:
  port: 8081
  servlet:
    context-path: /auth

spring:
  application:
    name: auth-service

jwt:
  signerKey: qxDRHYT3pRMIJkG7pFsaUkbSkFr3+X3hi3n1ci64B7mAS7RH+Ws4V0ao/nHyyBgGWZY2FpEKCgTXNUpf79t2Tw==
  expiry: 15
