server:
  port: ${AUTH_SERVICE_PORT}
#  servlet:
#    context-path: /auth

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${AUTH_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

  flyway:
    enabled: true
    locations: classpath:db/migration

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST}
      port: ${SPRING_DATA_REDIS_PORT}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus