server:
  port: 8081
  servlet:
    context-path: /auth

spring:
  application:
    name: auth-service

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/auth_db
    username: postgres
    password: Abc123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  signerKey: qxDRHYT3pRMIJkG7pFsaUkbSkFr3+X3hi3n1ci64B7mAS7RH+Ws4V0ao/nHyyBgGWZY2FpEKCgTXNUpf79t2Tw==
  expiry: 15
