server:
  servlet:
    context-path: /api/v1/auth

spring:
  application:
    name: auth-service

  profiles:
    active: ${SPRING_PROFILES_ACTIVE}

jwt:
  signerKey: ${JWT_SIGNER_KEY}
  expiry: ${JWT_EXPIRY}
