image: maven:3.9.6-eclipse-temurin-21

stages:
  - build
  - test
  - deploy

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  SPRING_PROFILES_ACTIVE: test

cache:
  key: maven-cache
  paths:
    - .m2/repository

build-job:
  stage: build
  tags:
    - local
  script:
    - chmod +x mvnw
    - ./mvnw clean install -DskipTests
  artifacts:
    expire_in: 1 hour
    paths:
      - core-service/target/*.jar
      - auth-service/target/*.jar
      - user-service/target/*.jar

test-job:
  stage: test
  tags:
    - local
  script:
    - chmod +x mvnw
    - ./mvnw install -pl core-service -am -DskipTests
    - ./mvnw test -pl auth-service
    - ./mvnw test -pl user-service

deploy-job:
  stage: deploy
  image: docker:24.0.5
  services:
    - name: docker:24.0.5-dind
      command: ["--tls=false"]

  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""

  tags:
    - local
  only:
    - main

  script:
    - docker version
    - docker compose version
    - docker compose down
    - docker compose build
    - docker compose up -d

