image: maven:3.9.6-eclipse-temurin-21

services:
  - name: docker:24.0.5-dind
    command: ["--tls=false"]

stages:
  - build
  - test
  - deploy

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  SPRING_PROFILES_ACTIVE: test
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  TESTCONTAINERS_RYUK_DISABLED: "true"
  TESTCONTAINERS_CHECKS_DISABLE: "true"

cache:
  key: maven-cache
  paths:
    - .m2/repository

build-job:
  stage: build
  tags: [local]
  script:
    - chmod +x mvnw
    - ./mvnw clean install -DskipTests
  artifacts:
    expire_in: 1 hour
    paths:
      - core-service/target/*.jar
      - auth-service/target/*.jar
      - user-service/target/*.jar

test-job:
  stage: test
  tags: [local]
  before_script:
    - chmod +x mvnw
  script:
    - ./mvnw install -pl core-service -am -DskipTests
    - ./mvnw test -pl auth-service -Dspring.profiles.active=test
    - ./mvnw test -pl user-service -Dspring.profiles.active=test

deploy-job:
  stage: deploy
  tags: [local]
  only:
    - main
  script:
    - echo "Deploy via docker-compose (manual / local runner)"
