image: maven:3.9.6-eclipse-temurin-21

stages:
  - build

build-job:
  stage: build
  tags:
    - local
  before_script:
    - chmod +x mvnw
  script:
    - ./mvnw -version
    - ./mvnw clean install -DskipTests
