image: maven:3.9.6-eclipse-temurin-21

stages:
  - build
  - test
  - deploy

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  SPRING_PROFILES_ACTIVE: test

cache:
  key: maven-cache
  paths:
    - .m2/repository

# ================= BUILD =================
build-job:
  stage: build
  tags: [local]
  script:
    - chmod +x mvnw
    - ./mvnw clean install -DskipTests
  artifacts:
    expire_in: 1 hour
    paths:
      - core-service/target/*.jar
      - auth-service/target/*.jar
      - user-service/target/*.jar

# ================= TEST =================
test-job:
  stage: test
  tags: [local]
  before_script:
    - chmod +x mvnw
  script:
    # build core first
    - ./mvnw install -pl core-service -am -DskipTests

    # Auth E2E (Testcontainers)
    - ./mvnw test -pl auth-service

    # User E2E (Testcontainers)
    - ./mvnw test -pl user-service

# ================= DEPLOY =================
deploy-job:
  stage: deploy
  tags: [local]
  only:
    - main
  script:
    - echo "Deploy via docker-compose (manual / local runner)"
