
image: maven:3.9.6-eclipse-temurin-21

stages:
  - build
  - test
  - deploy

services:
  - name: postgres:15
    alias: postgres

variables:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: Abc123

  AUTH_DB: auth_service
  USER_DB: user_service

  SPRING_PROFILES_ACTIVE: dev

cache:
  key: maven-cache
  paths:
    - .m2/repository

build:
  stage: build
  tags:
    - local
  script:
    - chmod +x mvnw
    - ./mvnw clean install -DskipTests
  artifacts:
    paths:
      - auth-service/target/*.jar
      - user-service/target/*.jar
    expire_in: 1 hour

test:
  stage: test
  tags:
    - local
  before_script:
    - apt-get update && apt-get install -y postgresql-client

    - |
      until pg_isready -h postgres -p 5432 -U $POSTGRES_USER; do
        echo "Waiting for postgres..."
        sleep 2
      done

    - export PGPASSWORD=$POSTGRES_PASSWORD
    - |
      for DB in "$AUTH_DB" "$USER_DB"; do
        psql -h postgres -U $POSTGRES_USER -tc \
        "SELECT 1 FROM pg_database WHERE datname='$DB'" | grep -q 1 || \
        psql -h postgres -U $POSTGRES_USER -c "CREATE DATABASE $DB";
      done

  script:
    - ./mvnw clean test -pl auth-service
    - ./mvnw clean test -pl user-service

deploy:
  stage: deploy
  image: docker:26
  services:
    - name: docker:dind
      alias: docker
  tags:
    - local
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  only:
    - main
  script:
    - cp auth-service/target/*.jar auth-service/app.jar
    - cp user-service/target/*.jar user-service/app.jar

    - docker compose down
    - docker compose build
    - docker compose up -d
