image: maven:3.9.6-eclipse-temurin-21

stages:
  - build
  - test
  - deploy

cache:
  key: maven-cache
  paths:
    - .m2/repository

build-job:
  stage: build
  tags:
    - local
  script:
    - chmod +x mvnw
    - ./mvnw clean package -DskipTests
  artifacts:
    paths:
      - auth-service/target/*.jar
      - user-service/target/*.jar
    expire_in: 1 hour

test-job:
  stage: test
  tags:
    - local
  script:
    - ./mvnw test

deploy-job:
  stage: deploy
  tags:
    - local
  only:
    - main
  script:
    - docker compose down || true
    - docker compose up -d
