spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:user_test_db;DB_CLOSE_DELAY=-1
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect