server:
  port: ${USER_SERVICE_PORT}

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${USER_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

  flyway:
    enabled: true
    locations: classpath:db/migration


management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus